<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <fieldset>
                <div class="field-search">
                    <label for="search-state">Selecione o Estado</label>
                    <input type="text" name="search-state">
                </div>

                <div class="field-search">
                    <label for="search-city">Selecione a Cidade</label>
                    <input type="text" name="search-city">
                </div>

                <button>Buscar</button>
            </fieldset>
        </form>
    </div>
</div>