@media (max-width: 410px) {
    #page-home main h1 {
        font-size: 2.9em;
    }
}

@media (max-width: 470px) {
    #page-home main h1 {
        font-size: 2.3em;
    }

    #page-home main p {
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 40px;
    }

    #page-home main {
        align-items: center;
    }
}