:root {
    --title-color: #322153;
    --primary-color: #34cb79;
    --input-color: #f0f0f5;
    --button-hover-color: #2da867;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f6;
    background-size: 100vw 100vh;
}

body {
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}